*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#sobre-mi{
    scroll-margin-top: 20vh;
}

ul{
    list-style: none;
}

/* COLORES */

.red{
    color: #e00c0c;
}

.green{
    color: #037703;
}

.orange{
    color: #ce890c;
}

.blue{
    color: #0e0ee0;
}

.purple{
    color: #7d027d;
}

.yellow{
    color: #ffff0e;
}

.light-blue{
    color: #00c1ff;
}

.gray{
    color: #696767;
}

.python{
    color: #2c3fc7;
}

.img-django{
    display: flex;
}

.img-django img{
    height: 25px;
}

.img-flask{
    padding: 0 7px;
    position: relative;
    width: 58px;
}

.img-flask img{
    width: 100%;
    height: 45px;
    position: absolute;
    top: -4px;
    left: 2px;
}

/* HEADER */
header{
    width: 100%;
    height: 600px;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432));
    background: linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432)), url(./img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    position: relative;
}

.title{
    font-weight: 300;
    font-family: helvetica;
}

.wave{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bmenos{
    bottom: -10px;
}

/* NAV */
.nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.nav h2{
    color: #fff;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav ul a{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    transition: all 3000;
}

.nav ul a:hover{
    text-decoration: underline;
}

.text-header{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    font-size: 18px;
}


/* SOBRE MI */

#sobre-mi{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.about-me{
    display: flex;
}

.about-me img{
    width: 100%;
    height: 300px;
}

.about-me div{
    width: 100%;
}

.about-me div h2{
    padding: 0 20px 20px 20px;
}

.about-me div p{
    padding: 0 20px 20px;
}

.curvas{ /* En 1024px no */
    position: relative;
    top: -5px;
}


/* CONOCIMIENTOS */
#conocimientos{
    background: #000046;
    background: -webkit-linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432));
    background: linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432)), url(./img/placeimg_640_480_tech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

#conocimientos > h2{
    padding: 0px 0 40px 0;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.mis-conocimientos{
    width: 100%;
    padding-bottom: 180px;
}

.cont-conocimientos{
    width: 80%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
}

.cont-conocimientos:nth-child(2){
    padding: 0;
}

.cont-conocimientos:nth-child(1), .cont-conocimientos:nth-child(3){
    flex-flow: column;
}

.cont-conocimientos .title{
    width: 80%;
    padding: 0 10px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.control-de-versiones .title{
    width: 100%;
}


.div-conocimientos{
    width: auto;
    margin: 0 auto;
    padding: 15px 0;
    font-family: cursive;
}

.div-conocimientos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-conocimientos li{
    padding: 5px 7px;
}

.img-conocimientos{
    width: 100%;
    height: 80px;
    position: relative;
}

.img-conocimientos-control-versiones{
    width: 100%;
}

.img-conocimientos img{
    width: 100%;
    height: 100%;
}


/* PROYECTOS */
#proyectos{
    width: 80%;
    margin: 0 auto;
    background: #fff;
}

#proyectos > h2{
    padding: 10px 10px 30px 10px;
    text-align: center;
}

.imagen-port{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.imagen-port .abrir{
    position: absolute;
    background: hsl(273deg 91% 27% / 50%);
    color: #fff;
    padding: 5px;
    border-radius: 0 0 5px;
    cursor: pointer;
}

.imagen-port .text-proyectos{
    font-family: Helvetica;
    text-align: center;
    padding: 10px;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    color: #fff;
}

.input-hover{
    display: none;
}

.input-hover:checked ~ .hover-galeria{
    transform: scale(1);
}

.modal-proyecto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    color: #fff;
    position: relative;
}

.modal-proyecto > a, .modal-proyecto > p, .modal-proyecto > label{
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #00000057;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-proyecto > a i{
    margin-right: 3px;
}

.modal-proyecto > .cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* MODAL */
.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor-modal{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked ~ .modal .contenedor-modal{
    transform: translateY(0);
}

.contenedor-modal label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.contenedor-modal label i, .contenedor-modal > a{
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background: hsla(273, 91%, 27%, 0.7);;
    padding: 3px 5px;
}

.contenedor-modal > a{
    position: absolute;
    top: 40px;
    right: 7px;
}

.contenedor-modal > a.link-2{
    top: 73px;
}

.contenedor-modal > img{
    width: 100%;
    height: 200px;
}

#btn-modal{
    display: none;
}

.lbl-modal{
    background: #e69706;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: -7px;
    right: 0;
    display: none;
}

.contenido{
    font-family: Helvetica;
    padding: 30px;
    margin-top: 5px;
}

@media(min-width: 768px){
    /* HEADER */
    .text-header{
        font-size: 25px;
    }
    
    /* ABOUT ME */
    #sobre-mi{
        flex-direction: row;
    }

    /* CONOCIMIENTOS */
    .cont-conocimientos{
        display: flex;
    }

    .cont-conocimientos:nth-child(2){
        padding: 0px 10px 0 0;
    }

    .cont-conocimientos:nth-child(1), .cont-conocimientos:nth-child(3){
        flex-flow: row-reverse;
    }

    .img-conocimientos{
        width: 40%;
        height: 100px;
    }
    
    .img-conocimientos-control-versiones{
        width: 40%;
    }

    /* PROYECTOS */
    .galeria-port{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

}

@media(min-width: 1024px){
    /* SOBRE MI */
    .about-me img{
        width: 46%;
    }
    
    .about-me div{
        width: 46%;
    }

    /* CONOCIMIENTOS */
    .cont-conocimientos{
        padding: 0px 0 0 10px;
    }

    /* PROYECTOS */
    .galeria-port{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media(min-width: 1200px){
    /* HEADER */
    .nav {
        font-size: 19px;
    }

    /* SOBRE MI */
    #sobre-mi{
        width: 1085px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about-me {
        margin-bottom: 30px;
    }

    .about-me img {
        width: 50%;
        height: 350px;
    }

}

@media(min-width: 1300px){
    /* CONOCIMIENTOS */
    .img-conocimientos {
        width: 410px;
    }

    .img-conocimientos-control-versiones {
        width: 410px;
    }
}

@media(min-width: 1400px){

    .nav {
        font-size: 21px;
    }

    .about-me div {
        font-size: 19px;
    }

    .cont-conocimientos {
        width: 1120px;
    }

    .cont-conocimientos:nth-child(2) {
        padding: 0;
    }

    #proyectos{
        width: 1120px;
    }
}

@media(min-width: 1440px){
    body{
        width: 1440px;
        margin: 0 auto;
    }
}