*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#sobre-mi{
    scroll-margin-top: 20vh;
}

ul{
    list-style: none;
}

/* COLORES */

.red{
    color: #e00c0c;
}

.green{
    color: #037703;
}

.orange{
    color: #ce890c;
}

.blue{
    color: #0e0ee0;
}

.purple{
    color: #7d027d;
}

.yellow{
    color: #ffff0e;
}

.light-blue{
    color: #00c1ff;
}

.gray{
    color: #696767;
}

.python{
    color: #2c3fc7;
}

.img-django{
    display: flex;
}

.img-django img{
    height: 25px;
}

.img-flask{
    padding: 0 7px;
    position: relative;
    width: 58px;
}

.img-flask img{
    width: 100%;
    height: 45px;
    position: absolute;
    top: -4px;
    left: 2px;
}

/* HEADER */
header{
    width: 100%;
    height: 600px;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432));
    background: linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432)), url(./img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    position: relative;
}

.title{
    font-weight: 300;
    font-family: helvetica;
}

.wave{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bmenos{
    bottom: -10px;
}

/* NAV */
.nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.nav h2{
    color: #fff;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav ul a{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    transition: all 3000;
}

.nav ul a:hover{
    text-decoration: underline;
}

.text-header{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    font-size: 18px;
}


/* SOBRE MI */

#sobre-mi{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.about-me{
    display: flex;
}

.about-me img{
    width: 100%;
    height: 300px;
}

.about-me div{
    width: 100%;
}

.about-me div h2{
    padding: 0 20px 20px 20px;
}

.about-me div p{
    padding: 0 20px 20px;
}

.curvas{ /* En 1024px no */
    position: relative;
    top: -5px;
}


/* CONOCIMIENTOS */
#conocimientos{
    background: #000046;
    background: -webkit-linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432));
    background: linear-gradient(to right, hsla(214, 78%, 49%, 0.281), hsla(240, 100%, 14%, 0.432)), url(./img/placeimg_640_480_tech.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

#conocimientos > h2{
    padding: 0px 0 40px 0;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.mis-conocimientos{
    width: 100%;
    padding-bottom: 180px;
}

.cont-conocimientos{
    width: 80%;
    height: auto;
    background: #fff;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
}

.cont-conocimientos:nth-child(2){
    padding: 0;
}

.cont-conocimientos:nth-child(1), .cont-conocimientos:nth-child(3){
    flex-flow: column;
}

.cont-conocimientos .title{
    width: 80%;
    padding: 0 10px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.control-de-versiones .title{
    width: 100%;
}


.div-conocimientos{
    width: auto;
    margin: 0 auto;
    padding: 15px 0;
    font-family: cursive;
}

.div-conocimientos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.div-conocimientos li{
    padding: 5px 7px;
}

.img-conocimientos{
    width: 100%;
    height: 80px;
    position: relative;
}

.img-conocimientos-control-versiones{
    width: 100%;
}

.img-conocimientos img{
    width: 100%;
    height: 100%;
}


/* PROYECTOS */
#proyectos{
    width: 100%;
    height: 600px;
    background: #fff;
}


@media(min-width: 768px){
    /* HEADER */
    .text-header{
        font-size: 25px;
    }
    
    /* ABOUT ME */
    #sobre-mi{
        flex-direction: row;
    }

    /* CONOCIMIENTOS */
    .cont-conocimientos{
        display: flex;
    }

    .cont-conocimientos:nth-child(2){
        padding: 0px 10px 0 0;
    }

    .cont-conocimientos:nth-child(1), .cont-conocimientos:nth-child(3){
        flex-flow: row-reverse;
    }

    .img-conocimientos{
        width: 40%;
        height: 100px;
    }
    
    .img-conocimientos-control-versiones{
        width: 40%;
    }
}

@media(min-width: 1024px){
    /* SOBRE MI */
    .about-me img{
        width: 46%;
    }
    
    .about-me div{
        width: 46%;
    }

    /* CONOCIMIENTOS */
    .cont-conocimientos{
        padding: 0px 0 0 10px;
    }
}

@media(min-width: 1200px){
    /* HEADER */
    .nav {
        font-size: 19px;
    }

    /* SOBRE MI */
    #sobre-mi{
        width: 1085px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about-me {
        margin-bottom: 30px;
    }

    .about-me img {
        width: 50%;
        height: 350px;
    }
}

@media(min-width: 1300px){
    /* CONOCIMIENTOS */
    .img-conocimientos {
        width: 410px;
    }

    .img-conocimientos-control-versiones {
        width: 410px;
    }
}

@media(min-width: 1400px){
    .nav {
        font-size: 21px;
    }

    .about-me div {
        font-size: 19px;
    }

    .cont-conocimientos {
        width: 1120px;
    }

    .cont-conocimientos:nth-child(2) {
        padding: 0;
    }
}